/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotate(180deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@-moz-keyframes flip {
  0% {
    -moz-transform: rotate(180deg); }

  100% {
    -moz-transform: rotate(0deg); } }

@-o-keyframes flip {
  0% {
    -o-transform: rotate(180deg); }

  100% {
    -o-transform: rotate(0deg); } }

@keyframes flip {
  0% {
    transform: rotate(180deg); }

  100% {
    transform: rotate(0deg); } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

p {
  font-size: 14pt;
  line-height: 2em;
  margin-bottom: 1.5em; }
  p.section-intro {
    font-size: 30pt;
    font-weight: 200;
    line-height: 1.4em; }

a {
  color: black;
  opacity: .7;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  text-decoration: none; }
  a:hover {
    opacity: 1;
    border-color: rgba(0, 0, 0, 0.6); }

section {
  margin: auto; }
  section > .inner {
    padding: 150px 0;
    max-width: 1000px;
    width: 80%;
    margin: auto; }
  section.section-one {
    background: #634231 url(../images/alamao-4-flat-x1400.png) no-repeat fixed center center;
    background-size: cover;
    color: white;
    height: 100%; }
    section.section-one .inner {
      padding: 190px 100px 300px 100px; }
      section.section-one .inner .left-content {
        float: left;
        width: 80%;
        padding: 86px 0px; }
      section.section-one .inner .right-content {
        float: right;
        width: 20%; }
        section.section-one .inner .right-content .icon {
          padding: 25px 0px; }
    section.section-one .firstline {
      display: block;
      font-size: 64pt;
      font-weight: 100;
      letter-spacing: -2px; }
    section.section-one .secondline {
      display: block;
      margin-top: 40px;
      font-weight: 200;
      font-size: 28pt;
      line-height: 1.3em; }
      section.section-one .secondline strong {
        font-weight: 300; }
  section.section-two {
    background: #f3f3f3 url(../images/bg-tools-2.png) repeat-y fixed 95% center; }
    section.section-two p {
      text-shadow: 0px 0px 8px #f3f3f3; }
    section.section-two .section-intro {
      color: #7951a1; }
    section.section-two .left-content {
      float: left;
      width: 60%; }
    section.section-two .divider-wrapper {
      position: relative;
      top: 17px;
      text-align: center;
      width: 100%; }
      section.section-two .divider-wrapper div {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        display: inline-block;
        padding: 5px;
        position: relative; }
        section.section-two .divider-wrapper div .divider-triangle {
          width: 0px;
          height: 0px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #8e5a3a;
          z-index: 999; }
        section.section-two .divider-wrapper div .divider-triangle-brown {
          width: 0px;
          height: 0px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #634231;
          z-index: 999; }
        section.section-two .divider-wrapper div .divider-triangle-grey {
          width: 0px;
          height: 0px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #222;
          z-index: 999; }
  section.section-three {
    background: #634231 url(../images/bg-compass.png) no-repeat fixed right center;
    color: white;
    position: relative; }
    section.section-three a {
      color: white; }
    section.section-three .left-content {
      float: left;
      width: 50%; }
    section.section-three .right-content {
      float: right;
      width: 45%; }
      section.section-three .right-content .right-content-title-box {
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 13px 0px 25px 27px;
        margin-bottom: -32px; }
      section.section-three .right-content .firstline {
        display: block;
        font-size: 20pt;
        line-height: 30.4pt; }
      section.section-three .right-content .secondline {
        display: block;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        opacity: .5;
        font-size: .7em; }
      section.section-three .right-content .timeline {
        margin-top: 2em; }
        section.section-three .right-content .timeline .item {
          /* Accordion */
          height: 3em;
          overflow: hidden;
          background: url(../images/timeline-divider.png) no-repeat 35% -167px;
          padding-bottom: 0px; }
          section.section-three .right-content .timeline .item .date {
            width: 30%;
            float: left;
            display: block;
            text-align: right;
            padding: 0 5% 0 0;
            font-size: .7em;
            text-transform: uppercase;
            opacity: .7;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 50px; }
          section.section-three .right-content .timeline .item .project {
            width: 60%;
            padding: 0 0 0 5%;
            float: left;
            display: block;
            line-height: 50px; }
            section.section-three .right-content .timeline .item .project a .caret {
              border-left: 4px solid rgba(0, 0, 0, 0);
              border-right: 4px solid rgba(0, 0, 0, 0);
              border-top: 4px solid #fff;
              content: "";
              display: inline-block;
              opacity: 0;
              height: 0;
              margin-top: 24px;
              vertical-align: top;
              width: 0;
              transform: rotate(180deg);
              -o-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -webkit-transform: rotate(180deg); }
            section.section-three .right-content .timeline .item .project a .caret.flipEffect {
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: -webkit-transform 0.2s ease-in-out;
              -moz-transition: -moz-transform 0.2s ease-in-out;
              -o-transition: -o-transform 0.2s ease-in-out;
              transition: transform 0.2s ease-in-out;
              opacity: 1; }
            section.section-three .right-content .timeline .item .project a:hover .caret {
              opacity: 1;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out; }
          section.section-three .right-content .timeline .item .linklist {
            padding-left: 45%;
            clear: both;
            padding-bottom: 20px; }
            section.section-three .right-content .timeline .item .linklist li {
              list-style: circle;
              margin-bottom: 10px;
              color: #007351; }
  section.section-four {
    background: #222222 url(../images/bg-rocket.png) no-repeat fixed center center;
    color: #ccc; }
    section.section-four .firstline {
      text-align: center;
      margin-bottom: 0; }
    section.section-four .secondline {
      text-align: center;
      display: block;
      margin: 1em 0 60px 0;
      opacity: .6;
      font-style: italic; }
    section.section-four .person {
      width: 20%;
      float: left;
      display: block;
      position: relative;
      height: 280px;
      text-align: text-top; }
      section.section-four .person .portrait {
        display: block;
        max-width: 60%;
        border-radius: 200px;
        border: 5px solid #444;
        margin: 0 auto;
        transition: all 0.2s ease; }
        section.section-four .person .portrait:hover {
          max-width: 80%; }
      section.section-four .person .name {
        display: block;
        font-weight: 400;
        margin-top: 0.5em;
        font-size: 1.4em;
        text-align: center; }
      section.section-four .person .title {
        display: block;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        margin-top: .2em;
        font-size: .9em;
        opacity: .7; }
  section.section-five {
    background: black; }
    section.section-five .inner {
      padding: 20px 0 1px 0; }
    section.section-five a {
      color: white;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.7); }
    section.section-five p {
      color: #999;
      font-size: .8em;
      text-align: center; }

@media (max-width: 1001px) {
  section {
    padding: 100px 50px; }
    section.section-one .inner {
      padding: 100px 0px; }
    section.section-two .left-content {
      width: 100%;
      float: none; }
    section.section-three .left-content,
    section.section-three .right-content {
      float: none;
      width: 100%; }
    section.section-three .right-content {
      padding-top: 20px; }
    section.section-four .person {
      width: 25%; }
    section .inner {
      width: 95%;
      padding: 0; } }
@media (max-width: 750px) {
  section.section-one .right-content {
    display: none; } }
@media (max-width: 600px) {
  p {
    font-size: 12pt; }
    p.section-intro {
      font-size: 25pt; }

  section {
    padding: 40px 20px; }
    section.section-one .inner {
      padding: 50px 0px; }
    section.section-one .firstline {
      font-size: 48pt; }
    section.section-one .secondline {
      font-size: 24pt; }
    section.section-four .person {
      height: 220px;
      width: 33.33%; } }
@media (max-width: 340px) {
  section {
    padding: 20px 10px; }
    section.section-one .inner {
      padding: 30px 10px; }
    section.section-one .firstline {
      font-size: 38pt; }
    section.section-one .secondline {
      font-size: 18pt; }
    section.section-four .person {
      width: 50%;
      height: 200px; } }
.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .cf:after {
    clear: both; }
